.cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 1rem 1.8rem;
    text-decoration: none;
    background: $primary;
    border-radius: 5px;
    max-width: 10rem;
}

button.cta-btn {
    border: transparent;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
}